<app-top></app-top>
<br>
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Les Régions du Japon</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" (click)="filtrer('Tout')" [ngClass]="{'active':Actif=='Tout' }">Tout</li>
                        <li (click)="filtrer('Traditionnelle')" [ngClass]="{'active':Actif=='Traditionnelle' }">Traditionnelle</li>
                        <li (click)="filtrer('Paradisiaque')" [ngClass]="{'active':Actif=='Paradisiaque' }">Paradisiaque</li>
                        <li  (click)="filtrer('Touristique')" [ngClass]="{'active':Actif=='Touristique' }">Touristique</li>
                        <li (click)="filtrer('Historique')" [ngClass]="{'active':Actif=='Historique' }">Historique</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">

            <!-- Début -->

            <div *ngFor="let v of Voyages" class="col-lg-3 col-md-4 col-sm-6 mix {{v.categorie}} ">

                <div class="card" style="width: 85%">
                    <div class="img-hover-zoom c"> <img [src]="v.Image" class="card-img-top" [alt]="v.libelle"> </div>
                    <div class="card-body">
                        <h5 class="card-title">{{v.id}} {{v.libelle}}</h5>
                        <p class="card-text">{{v.Description}}</p>
                        <a [routerLink]="['/reservation',v.id]" class="btn btn-primary">Réserver</a>
                    </div>
                </div>
            </div>
            <!-- Fin -->

        </div>
    </div>
</section>




<app-footer></app-footer>