<app-top></app-top>
<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Les Régions du Japon</h2>
                </div>
                <div class="featured__controls">
                    <ul>
                        <li class="active" data-filter="*">Tout</li>
                        <li data-filter=".Traditionnelle">Traditionnelle</li>
                        <li data-filter=".Paradisiaque">Paradisiaque</li>
                        <li data-filter=".Touristique">Touristique</li>
                        <li data-filter=".Historique">Historique</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row featured__filter">

            <!-- Début -->

            <div *ngFor="let v of Voyages" class="col-lg-3 col-md-4 col-sm-6 mix {{v.categorie}} ">

                <div class="card" style="width: 85%">
                    <div class="img-hover-zoom c"> <img [src]="v.Image" class="card-img-top" [alt]="v.libelle"> </div>
                    <div class="card-body">
                        <h5 class="card-title">{{v.id}} {{v.libelle}}</h5>
                        <p class="card-text">{{v.Description}}</p>
                        <a  [routerLink]="['/reservation',v.id]"                         class="btn btn-primary">Réserver</a>
                    </div>
                </div>
            </div>
            <!-- Fin -->

        </div>
    </div>
</section>




<app-footer></app-footer>