<nav class="navbar navbar-expand-lg  fixed-top navbar-light bg-light">

    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/accueil"> <img src="assets/logo.png" width="75px"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/accueil" routerLinkActive="active">Accueil  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Region" routerLinkActive="active">Nos destinations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/aboutus">A propos de nous</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Découvrir
          </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="/activites">Activités</a></li>
                        <li><a class="dropdown-item" routerLink="/plats">Des plats typiques</a></li>
                        <li><a class="dropdown-item" routerLink="/meilleures-destinations">Meilleures destinations</a></li>
                    </ul>
                </li> -->
                <li class="nav-item dropdown">
                  
                        <a href="#" class="nav-link dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Découvrir
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" routerLink="/activites">Nos activités</a>
                          <a class="dropdown-item" routerLink="/plats">Plats traditionnels</a>
                          <a class="dropdown-item" routerLink="/meilleures-destinations">Meilleures destinations</a>
                        </div>
                   
                </li>
                <li class="nav-item" *ngIf="isAdmin()"> 
                    <a class="nav-link" routerLink="/admin">Admin</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" (change)="rechercher(r.value)" #r>
                <button class="btn btn-outline-success" type="submit" [routerLink]="['/rechercher',motcle]">Rechercher</button>
            </form>
     

            <div *ngFor="let a of admin">
                {{a.pseudo}}
                </div>
                
        </div>
    </div>
  

</nav>


