<div id="container" style="background-image: url('assets/waljapon.jpg')">
    <i class="bi bi-lock-fill"></i>
    <br><br>
    <div class="d-flex justify-content-center">

        <input type="mail" name="adresse" class="form-control" placeholder="Adresse" #adresse />
    </div>
    <br />
    <div class="d-flex justify-content-center">
        <input type="password" name="mdp" class="form-control" placeholder="Mot de passe" #mdp />
    </div>
    <br />

    <button type="button" class="btn btn-secondary btn-lg" (click)="connecter(adresse.value,mdp.value)">Se connecter</button>
    <br />
    <br>
    <a href="/signup" class="link-dark"> Vous n'avez pas de compte ? S'inscrire</a>
</div>
<!-- 
<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label>Nom Utilisateur :</label>
                    <input type="text" name="username" class="form-control" [(ngModel)]="user.username">
                </div>
                <div class="form-group">
                    <label>Mot de passe :</label>
                    <input type="password" name="password" [(ngModel)]="user.password" class="form-control">
                </div>
                <div class="row justify-content-md-center">
                    <button type="button" (click)="onLoggedin()" class="btn btn-success">Connexion</button>
                </div>
            </form>
        </div>
    </div>
</div> -->