
<br>
<br>


<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Libelle</th>
                    <th>Prix</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Promo</th>
                    <th>Catégorie</th>
                </tr>
                <tbody *ngFor="let v of voyage">
                    <tr>
                        <td>{{v.id}}</td>
                        <td>{{v.libelle}}</td>
                        <td>{{v.prix}}</td>
                        <td width="30%">{{v.Description}}</td>
                        <td>{{v.Image}}</td>
                        <td *ngIf="v.Promo;else Non">Oui</td>
                        <ng-template #Non><td>Non</td></ng-template>
                        <td>{{v.categorie}}</td>
                        
                        <td><a class="btn btn-danger" (click)="supprimerVoyage(v)">Supprimer</a></td>
                        <td><a class="btn btn-success" [routerLink]="['/ModifierRegion',v.id]">Modifier</a></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>



    
<app-add-region></app-add-region>



