.containant {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
  height: auto;
  display: inline-block;
  position:relative;
    width:100%;
    height:100%;
    min-height:320px

  }
  .centered {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    padding-top:13.5%;  
    text-align:center;
    font-weight:bold;
    font-size:5vw;
    color:white;
    font-family:arial;
  }


  @media (min-width: 1200px) {
    .divtext{
      font-size:60px;
    }
  }
 .centrer {
      color:black;
      text-align: center;
      display: block;
    box-sizing: border-box;
    padding-left: 25%;
    padding-right: 25%;

  }
  h2{
      text-align: center;
      color: #be9747;
  }
  .i{
    display: block;
    margin-left: auto;
    margin-right: auto
  }