<app-top></app-top>
<div class="contenant" style="    margin-top: 90px;">
<img src="assets/decouvrir/activites/fond.jpg">
<div class="centered">
    <h1 style="color:white; font-weight:bold; -webkit-text-stroke: 0.1px black;  margin-top: 90px; font-size: 80%;">Les meilleures activités</h1>
</div>
</div>
<br>
<div class="centrer">

<p>
    Ça y est, vous avez décidé de prendre vos billets pour un voyage au Japon ! Mais quelles sont donc les activités incontournables à faire 
    sur place ? Qu’est-ce qu’il ne faut absolument pas manquer ? Les options et choses à voir sont très nombreuses et certaines ne manqueront
     pas de vous étonner par leur originalité. Quoi de plus normal puisque nous sommes au Japon, pays de tous les possibles ! <br>
     Que vous soyez de nature calme et à la recherche d’activités zen et contemplatives ou plutôt de tempérament actif avec une 
     ferme envie de vous amuser, je vous ai sélectionné une pléiade d’activités à faire et à voir afin de rendre votre séjour encore
      plus inoubliable, parmi lesquelles : visite de temples mystiques et baignade dans les sources chaudes, gastronomie locale et 
      traditions ancestrales bien gardées, lieux et activités insolites que vous ne trouverez nul part ailleurs, découvrez les possibilités 
      multiples que vous offre le pays du Soleil Levant !
</p>
<br>
<h2>Visiter des temples anciens</h2>
<p>
    Visiter le Japon sans s’arrêter dans un temple serait bien dommage tant ceux-ci font partie intégrante du paysage et de la culture nippone. 
    Sanctuaires, pagodes et temples bouddhiques ou shinto, dédiés à un courant de pensée ou à une divinité (kami), tous se côtoient en harmonie 
    aux quatre coins de la péninsule. Du plus modeste au plus majestueux, ils possèdent chacun leur histoire et leurs richesses.
     L’entrée d’un sanctuaire shinto est toujours reconnaissable à sa porte torii vermillon, comme celui de Meiji-Jingu dans le parc Yoyogi.
      Le Japon n’en compte pas moins de 85 000 répartis sur ses terres. Quant aux temples bouddhiques, ils sont plus de 77 000 et sont 
      naturellement représentés par le sage Bouddha. Celui de Senso-Ji à Asakusa est particulièrement bien gardé. Une dizaine de “Bouddhas 
      Géants”, appelés Daibutsu, veillent sur les lieux de culte et fascinent toujours les visiteurs, le plus grand se trouve à Ushiku dans
       la préfecture d'Ibaraki.
   </p>
<img src="assets/decouvrir/activites/temple.jpg" class="i" width="650px" >
<br>
<h2>Porter un kimono traditionnel</h2>
<p>
    Le kimono est l’habit traditionnel japonais. C’est une robe en forme de T au design soigné et raffiné, souvent très coloré. Il peut être à motifs géométriques, rayé ou fleuri. Il se porte agrémenté d’une grosse ceinture “obi”, de chaussettes blanches montantes “tabi”, et de sandales en bois “geta”. Ce costume d’apparat est principalement porté lors de grandes occasions ou lors de visites dans des lieux de culte. Il n’est d’ailleurs pas rare de voir des Japonais, jeunes et moins jeunes, en porter lorsqu’ils se rendent dans un temple pour se recueillir. Pourquoi ne pas repartir avec un superbe souvenir photo vêtu d’un kimono traditionnel ? Il en existe aussi bien pour les hommes que les femmes, et même les enfants. C’est une activité très populaire à faire auprès des touristes, en particulier à Kyoto.</p>
<img src="assets/decouvrir/activites/kimono.jpg" class="i" width="650px" >
<br>
<h2>Se baigner dans des sources chaudes "Onsen"</h2>
<p>
    Y a-t-il plus grand délice que de se prélasser dans un bon bain chaud. Le onsen est un bain thermal japonais puisant sa source dans la roche volcanique. Souvent installé à l’extérieur, il est très agréable de s’y baigner en hiver. L’eau de source étant très riche en minéraux, on lui confère des vertus thérapeutiques. Il est de coutume de manger de la nourriture spécifique à ce genre de lieu comme les fameux oeufs cuits dans l’eau de source. Les bains thermaux japonais sont généralement non mixtes et le port du maillot de bain n’est que rarement autorisé, ce qui peut freiner certains touristes pudiques. Tous les établissements de ce type n’acceptent pas les personnes tatouées (pour des raisons éthiques et historiques), il faut donc bien se renseigner avant d’y pénétrer afin d’éviter une mauvaise surprise.</p>
<img src="assets/decouvrir/activites/onsen.jpg" class="i" width="650px" >
<br>
<h2>Découvrir les maid-café</h2>
<p>
    Ce qu’on y fait ? Déguster de délicieux plats et boissons décorés dans un style “kawaii” en compagnie d’une maid à votre disposition. C’est elle qui préparera votre commande et qui vous la servira avec toute la mignonnerie dont elle est capable, le tout dans une sorte de chorégraphie des plus adorables (ou insupportables, à vous de voir). Vous pourrez, si vous le désirez, demander à votre maid qu’elle chante ou qu’elle danse pour vous et d’être pris en photo à ses côtés (moyennant finances). Attendez-vous aussi à ce que l’on vous demande de participer, notamment en acceptant de porter des adorables oreilles de lapin sur la tête. La culture du maid café est très répandue au Japon, particulièrement dans le quartier d’Akihabara, et a de très nombreux adeptes, souvent des réguliers qui viennent rendre visite à leur maid favorite. Une expérience typique que doit vivre tout bon otaku qui se respecte !</p>
<img src="assets/decouvrir/activites/maid.jpg" class="i" width="650px" >
<br>
<h2>Passer une nuit dans un Hôtel Capsule</h2>
<p>S’il est bien une expérience insolite pour nous occidentaux habitués à avoir de l’espace, c’est bien celle-ci ! Imaginez-vous, enfermé dans une mini-cabine carrée avec tout juste assez de place pour s’y glisser à quatre pattes et s’y allonger. Claustrophobes s’abstenir ! Le tout premier hôtel capsule fût ouvert en 1979 dans la ville d’Osaka. Depuis, ils ont fleuri un peu partout dans le pays, même si le concept n’a pas rencontré le succès escompté ailleurs dans le monde. Mais qui fréquente donc ce genre d’endroit bruyant et exigu ? Une majorité de salarymen ayant raté leur dernier train ou ayant eu une soirée un peu trop arrosée. Autrefois réservés uniquement aux hommes, il en existe aujourd’hui quelques-uns accessibles aux femmes, les deux sexes étant néanmoins séparés. On peut trouver une couchette à partir de 2 000 yens, ce qui est relativement bas vu les tarifs pratiqués au Japon par les hôtels classiques. L’hôtel capsule peut être un bon compromis pour les voyageurs de passage.
    </p>
<img src="assets/decouvrir/activites/capsule.jpg" class="i" width="650px" >
<br>
<h2>Faire du Ski</h2>
<p>
    Sur le territoire japonais, couvert à près de 70% par des montagnes, il est possible de s’adonner aux joies des sports d’hiver dans des stations de ski figurant au palmarès des meilleures stations du monde. Tout le monde ne le sait pas mais le Japon est un véritable paradis pour les skieurs.
    Skier au Japon, c’est tout d'abord l’assurance de bénéficier d’un enneigement exceptionnel. Mais c’est aussi profiter de la neige d'<a routerLink="/reservation/1">Hokkaido</a>   qualifiée de "meilleure poudreuse du monde" en raison de sa faible teneur en humidité. La plus septentrionale des îles du Japon voit ainsi trois de ses domaines skiables figurer sur le podium des meilleures stations de l’archipel. 
</p>
<img src="assets/decouvrir/activites/ski.jpg" class="i" width="650px" >
<br>
</div>
<main>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <hr />
                <h2 class="text-center my-4">Découvez également...</h2>
                <div class="row my-4">
                    <div class="col-md-4">
                        <!-- Card Wider -->
                        <div class="card card-cascade wider">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img class="card-img-top" src="assets/decouvrir/nourriture.jpg" alt="Card image cap" />
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">
                                <!-- Title -->
                                <h4 class="card-title">
                                    <strong>Découvrez les meilleurs plats traditionnels                                    </strong>
                                </h4>

                                <!-- Text -->
                                <p class="card-text">
                                    Entre recettes emblématiques et curiosités culinaires, découvrez dix plats populaires et incontournables à découvrir lors de votre voyage gourmand au Japon.                                </p>

                                <button class="btn btn-danger" [routerLink]="['/plats']">
                  Découvrir
                </button>
                            </div>
                        </div>
                        <!-- Card Wider -->
                    </div>
                   
                    <div class="col-md-4">
                        <!-- Card Wider -->
                        <div class="card card-cascade wider">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img class="card-img-top" src="assets/decouvrir/destinations.jpg" alt="Card image cap" />
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">
                                <!-- Title -->
                                <h4 class="card-title">
                                    <strong>Découvrez les meilleures destinations</strong>
                                </h4>
                                <!-- Text -->
                                <p class="card-text">
                                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                                </p>

                                <button class="btn btn-danger" [routerLink]="['/meilleures-destinations']">
                  Découvrir
                </button>
                            </div>
                        </div>
                        <!-- Card Wider -->
                    </div>
                       
                    <div class="col-md-4">
                        <!-- Card Wider -->
                        <div class="card card-cascade wider">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img class="card-img-top" src="assets/decouvrir/Japan.jpg" alt="Card image cap" />
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">
                                <!-- Title -->
                                <h4 class="card-title">
                                    <strong>Découvrez toutes nos destinations</strong>
                                </h4>
                                <!-- Text -->
                                <p class="card-text">
                                   Jetez un oeil à toutes les régions du Japon, et profitez-en pour réserver dès maintenant votre voyage !
                                </p>

                                <button class="btn btn-danger" [routerLink]="['/Region']">
                  Découvrir
                </button>
                            </div>
                        </div>
                        <!-- Card Wider -->
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>