<app-top></app-top>

<div class="contenant" style="    margin-top: 90px;">
  <img [src]="Region.img">
  <div class="centered">
      <h1 style="color:white; font-weight:bold; -webkit-text-stroke: 0.1px black;  margin-top: 90px; font-size: 80%;">{{Region.nom}}</h1>
  </div>
  </div>

 

  <div> <p>{{Region.Description}}</p> </div>
  <p>{{Region.DescriptionDetaillee}}</p>

<form>
  
</form>

  <!-- ON A BESOIN DE :
  Checkin (Date de départ)
  Checkout (Date de fin)
  Nombre d'Adulte (int minimum 1)
  Nombre d'enfants (minimum 0)
  Hebergement Checkbox(Hotel ou Auberge)
  Activités (CHECKBOX)Spécifique a la region
  Prix calculé 


  TARIFS : 
  Prix adulte PAR NUIT HOTEL
  Prix adulte PAR NUIT AUBERGE
  Prix Enfant PAR NUIT HOTEL
  Prix Enfant PAR NUIT AUBERGE
  PRIX DE CHAQUE ACTIVITE -->
  
<app-footer></app-footer>