<app-top></app-top>

<div class="contenant" style="    margin-top: 90px;">
  <img [src]="Region.img">
  <div class="centered">
      <h1 style="color:white; font-weight:bold; -webkit-text-stroke: 0.1px black;  margin-top: 90px; font-size: 80%;">{{Region.nom}}</h1>
  </div>
  </div>

 

  <div> <h3 >{{Region.DescriptionH}}</h3> </div>
  <p>{{Region.DescriptionDetaillee}}</p>

<form #f="ngForm" style=" display:flex; margin:auto; width: 25%; "class="card"   (ngSubmit)="onSubmit()">
  <label>Date de Départ</label><input type="date" required > <br>
  <label>Date de Retour</label><input type="date" required> <br>
  <label>Nombre d'adultes :</label>
  <select required>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select><br>
  <label>Nombre d'enfants :</label>
  <select required>
    <option selected>0</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option> 
    <option>5</option>
    <option>6</option>
  </select>
<span>2 à 12 ans</span><br>
<div style="display: block;">
<label>Type d'Hébergement :</label>
<input type="radio" name="Hebergement" id="Hotel" required><label for="Hotel">Hôtel</label>
<input type="radio" name="Hebergement" id="Auberge" required><label for="Auberge">Auberge</label>
</div>
<label>Sélectionnez les activtiés que vous souhaitez faire :</label>
<div *ngFor="let a of Region.activites">
<input type="checkbox" [id]="a"> <label [for]="a">{{a}}</label>
</div>
<input type="submit" name="Réserver"  [disabled]="f.invalid">

</form>

  <!-- ON A BESOIN DE :
  Checkin (Date de départ)
  Checkout (Date de fin)
  Nombre d'Adulte (int minimum 1)
  Nombre d'enfants (minimum 0)
  Hebergement Checkbox(Hotel ou Auberge)
  Activités (CHECKBOX)Spécifique a la region
  Prix calculé 


  TARIFS : 
  Prix adulte PAR NUIT HOTEL
  Prix adulte PAR NUIT AUBERGE
  Prix Enfant PAR NUIT HOTEL
  Prix Enfant PAR NUIT AUBERGE
  PRIX DE CHAQUE ACTIVITE -->
  
<app-footer></app-footer>