<app-top></app-top>
<div class="contenant" style="    margin-top: 90px;">
<img src="assets/decouvrir/plats/Fond.jpg">
<div class="centered">
    <h1 style="color:white; font-weight:bold; -webkit-text-stroke: 0.1px black;  margin-top: 90px; font-size: 80%;">10 plats à ne pas manquer</h1>
</div>
</div>
<br>
<p>
    Avec sa forte exportation en Europe, l’aspect traditionnel et ritualisé de la gastronomie japonaise reste relativement peu connu par ceux qui la consomment hors de l’Asie. 
    Il s’agit également d’une des cuisines les plus saines qui soient, avec ses fortes proportions de légumes, de poisson, de soupe et de riz blanc.
    <br> Un certain nombre de plats sont accompagnés de wasabi, cette pâte verte, et de sauce soja, deux condiments désormais bien connus des Occidentaux.
     Un repas japonais complet se compose traditionnellement d’une soupe et de trois plats différents.
Entre recettes emblématiques et curiosités culinaires, voici dix plats populaires et incontournables à découvrir lors de votre voyage gourmand au Japon.
</p>
<br>
<h2>#1 La Soupe Miso</h2>
<p>
    La soupe miso est l’un des plats les plus populaires du Japon. Elle servirait à se rincer la bouche entre les dégustations, pour apprécier indépendamment la finesse de chaque bouchée. 
    <br>Le miso est une pâte de soja fermentée qui sert à la confection du bouillon, auquel on ajoute des légumes, des champignons, et parfois du tofu.
</p>
<img src="assets/decouvrir/plats/soupemiso.jpg" class="i" width="650px" >
<br>
<h2>#2 Les Sushis</h2>
<p>
    Les sushis sont presque plus populaires en Europe qu’au Japon, où ils sont consommés occasionnellement. Il s’agit d’assortiments de riz vinaigré sucré et de tranches de poisson cru (aussi appelées sashimis), ainsi que de légumes. Une boule de riz recouverte simplement d’un sashimi sera appelée nigiri, alors qu’un rouleau de riz et de poisson enveloppé dans une algue nori est un maki. On les sert avec du wasabi et de la sauce soja, mais attention : au Japon, il faut les déguster rapidement et en une seule bouchée.
</p>
<img src="assets/decouvrir/plats/sushi.jpg" class="i" width="650px" >
<br>
<h2>#3 Les Yakitoris</h2>
<p>
    Les sushis sont presque plus populaires en Europe qu’au Japon, où ils sont consommés occasionnellement. Il s’agit d’assortiments de riz vinaigré sucré et de tranches de poisson cru (aussi appelées sashimis), ainsi que de légumes. Une boule de riz recouverte simplement d’un sashimi sera appelée nigiri, alors qu’un rouleau de riz et de poisson enveloppé dans une algue nori est un maki. On les sert avec du wasabi et de la sauce soja, mais attention : au Japon, il faut les déguster rapidement et en une seule bouchée. 
</p>
<img src="assets/decouvrir/plats/yakitori.jpg" class="i" width="650px" >
<br>
<h2>#4 Le poisson-globe ou fugu</h2>
<p>
    Avis aux aventuriers, le fugu fait partie du folklore culinaire japonais pour une excellente raison : ce poisson, s’il est mal préparé, peut conserver les traces d’un poison mortel pour l’homme qui s’en nourrit. Les cuisiniers japonais suivent une formation spéciale pour pouvoir préparer sans risque des sashimis de ce met rare et raffiné.
</p>
<img src="assets/decouvrir/plats/fugu.jpg" class="i" width="650px" >
<br>
<h2>#5 Les Takoyakis d’Osaka</h2>
<p>Spécialités de la ville d’Osaka, les takoyakis sont vendus dans la rue, dans de petites barquettes. Ce sont des boules de pâte croustillantes fourrées au poulpe, aux épices et au gingembre.</p>
<img src="assets/decouvrir/plats/takoyaki.webp" class="i" width="650px" >
<br>
<h2>#6 Les Onigiris</h2>
<p>
    Ces petites boules de riz, souvent triangulaires et accompagnées d’une algue nori, sont fourrées au poisson et aux légumes. Elles servent d’en-cas ou de repas rapides, idéales pour le déjeuner, contenues dans le bento, la boîte à repas japonaise.
</p>
<img src="assets/decouvrir/plats/onigiri.jpg" class="i" width="650px" >
<br>
<h2>#7 Les Gyozas</h2>
<p>
    Ce sont des raviolis très populaires au Japon, originaires de Chine. Confectionnés à l’aide d’une pâte de blé, ils peuvent être accommodés de légumes, de crevettes ou de viande, et sont soit bouillis pour une recette fondante, soit frits pour un rendu croustillant.  
</p>
<img src="assets/decouvrir/plats/gyozas.jpg" class="i" width="650px" >
<br>
<h2>#8 Les Okonomiyakis</h2>
<p>
    Très répandu à Hiroshima, cet encas est devenu après la guerre un véritable plat. Se présentant sous la forme d’une galette salée à 6 niveau, ce met est composé de légumes, de nouilles et autres ingrédients et est agrémenté d’une sauce dont la recette varie selon le cuisinier !
</p>
<img src="assets/decouvrir/plats/Okonomiyaki.jpg" class="i" width="650px" >
<br>
<h2>#9 Les Taiyakis</h2>
<p>
    Ce sont de petits gâteaux en forme de poisson, confectionnés dans une pâte semblable à de la pâte à gaufre et fourrés de pâte de haricots rouges sucrés, de crème ou de chocolat.
</p>
<img src="assets/decouvrir/plats/taiyaki.jpeg" class="i" width="650px" >
<br>
<h2>#10 Les Mochis</h2>
<p>
    Consommés en grande quantité lors des événements traditionnels japonais, il s’agit de boules à base de farine de riz gluant, parfumées de différents ingrédients. Les perles de coco sont la variante occidentale de ce met glacé. Il en existe aux haricots rouges, au sirop, façon teriyaki ou encore au soja.
</p>
<img src="assets/decouvrir/plats/mochi.jpeg" class="i" width="650px" >
<br>
<main>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <hr />
                <h2 class="text-center my-4">Découvez également...</h2>
                <div class="row my-4">
                    <div class="col-md-4">
                        <!-- Card Wider -->
                        <div class="card card-cascade wider">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img class="card-img-top" src="assets/decouvrir/activites.jpg" alt="Card image cap" />
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">
                                <!-- Title -->
                                <h4 class="card-title">
                                    <strong>Décrouvrez un pannel d'activités </strong>
                                </h4>

                                <!-- Text -->
                                <p class="card-text">
                                    Découvrez les meilleures activités à faire au sein des nombreuses régions touristiques Nippon.
                                </p>

                                <button class="btn btn-danger" [routerLink]="['/activites']">
                  Découvrir
                </button>
                            </div>
                        </div>
                        <!-- Card Wider -->
                    </div>
                   
                    <div class="col-md-4">
                        <!-- Card Wider -->
                        <div class="card card-cascade wider">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img class="card-img-top" src="assets/decouvrir/destinations.jpg" alt="Card image cap" />
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">
                                <!-- Title -->
                                <h4 class="card-title">
                                    <strong>Découvrez les meilleures destinations</strong>
                                </h4>
                                <!-- Text -->
                                <p class="card-text">
                                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                                </p>

                                <button class="btn btn-danger" [routerLink]="['/meilleures-destinations']">
                  Découvrir
                </button>
                            </div>
                        </div>
                        <!-- Card Wider -->
                    </div>
                       
                    <div class="col-md-4">
                        <!-- Card Wider -->
                        <div class="card card-cascade wider">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img class="card-img-top" src="assets/decouvrir/Japan.jpg" alt="Card image cap" />
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">
                                <!-- Title -->
                                <h4 class="card-title">
                                    <strong>Découvrez toutes nos destinations</strong>
                                </h4>
                                <!-- Text -->
                                <p class="card-text">
                                   Jetez un oeil à toutes les régions du Japon, et profitez-en pour réserver dès maintenant votre voyage !
                                </p>

                                <button class="btn btn-danger" [routerLink]="['/Region']">
                  Découvrir
                </button>
                            </div>
                        </div>
                        <!-- Card Wider -->
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>