<main>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <hr />
                <h2 class="text-center my-4">Découvrir</h2>
                <div class="row my-4">
                    <div class="col-md-4">
                        <!-- Card Wider -->
                        <div class="card card-cascade wider">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img class="card-img-top" src="assets/decouvrir/activites.jpg" alt="Card image cap" />
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">
                                <!-- Title -->
                                <h4 class="card-title">
                                    <strong>Décrouvrez un pannel d'activités </strong>
                                </h4>

                                <!-- Text -->
                                <p class="card-text">
                                    Découvrez les meilleures activités à faire au sein des nombreuses régions touristiques Nippon.
                                </p>

                                <button class="btn btn-danger" [routerLink]="['/activites']">
                  Découvrir
                </button>
                            </div>
                        </div>
                        <!-- Card Wider -->
                    </div>
                    <div class="col-md-4">
                        <!-- Card Wider -->
                        <div class="card card-cascade wider">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img class="card-img-top" src="assets/decouvrir/nourriture.jpg" alt="Card image cap" />
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">
                                <!-- Title -->
                                <h4 class="card-title">
                                    <strong>Découvrez les meilleurs plats traditionnels</strong>
                                </h4>
                                <!-- Text -->
                                <p class="card-text">
                                    Entre recettes emblématiques et curiosités culinaires, découvrez dix plats populaires et incontournables à découvrir lors de votre voyage gourmand au Japon.
                                </p>

                                <button class="btn btn-danger" [routerLink]="['/plats']">
                  Découvrir
                </button>
                            </div>
                        </div>
                        <!-- Card Wider -->
                    </div>
                    <div class="col-md-4">
                        <!-- Card Wider -->
                        <div class="card card-cascade wider">
                            <!-- Card image -->
                            <div class="view view-cascade overlay">
                                <img class="card-img-top" src="assets/decouvrir/destinations.jpg" alt="Card image cap" />
                                <a href="#!">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>

                            <!-- Card content -->
                            <div id="step-3" class="card-body card-body-cascade text-center tour st-3" title="Step three" data-index="2">
                                <!-- Title -->
                                <h4 class="card-title">
                                    <strong>Découvrez les meilleures destinations</strong>
                                </h4>
                                <!-- Text -->
                                <p class="card-text">
                                    Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                                </p>

                                <button class="btn btn-danger" [routerLink]="['/meilleures-destinations']">
                  Découvrir
                </button>
                            </div>
                        </div>
                        <!-- Card Wider -->
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </section>
</main>