<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
<div class="container">
    <div>
        <h2>Ajouter une destination</h2>
    </div>
    <form  [formGroup]="AjouterForm" (ngSubmit)="onSubmit()"    >
      
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Libelle Voyage</label>
            <input type="text" formControlName="libelle" class="form-control" />
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix Region</label>
            <input type="number" formControlName="prix" class="form-control" />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Description</label>
            <input type="text" formControlName="Description" class="form-control" />
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Image URL</label>
            <input type="text" formControlName="Image" class="form-control" />
        </div>


<!-- 
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Promo</label>
            <input type="checkbox" formControlName="Promo" class="form-control"/>
        </div> -->
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Categorie</label>
            <select formControlName="categorie" class="form-control">
                <option value="Traditionnelle">Traditionnelle</option>
                <option value="Paradisiaque">Paradisiaque</option>
                <option value="Historique">Historique</option>
                <option value="Touristique">Touristique</option>
            </select>
        </div>
        
     <!-- ID jusqua ACTIVITES -->




     <!-- HOTEL NOM JUSQUA AUBERGE -->



     <!-- FIN -->
        
        <div class="mt-2">
            <button type="submit"  class="btn btn-success">Ajouter</button>
             <button type="reset" class="btn btn-danger">Reset</button>
        </div>
        <h3>{{msg}}</h3>
    </form>
  
</div>




          <!-- ICI -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button   type="submit"  class="btn btn-primary">Ajouter</button> -->
        
        </div>
      </div>
    </div>
  </div>