<app-top></app-top>
<br> <br> <br> <br>
<!-- <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter Région</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"> -->
        <div class="container">
          <div>
            <h2>Ajouter une destination</h2>
          </div>
          <form [formGroup]="AjouterForm" >
            <div class="col-sm-8 col-md-8 col-lg-8">
              <label>Libelle Voyage</label>
              <input
                type="text"
                formControlName="libelle"
                class="form-control"
              />
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <label>Prix Region</label>
              <input
                type="number"
                formControlName="prix"
                class="form-control"
              />
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <label>Description</label>
              <textarea
              
                type="text"
                formControlName="Description"
                class="form-control"
              > </textarea>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <label>Image URL</label>
              <input type="text" formControlName="Image" class="form-control" />
            </div>

          
            <div class="col-sm-8 col-md-8 col-lg-8">
              <label>Categorie</label>
              <select formControlName="categorie" class="form-control">
                <option value="Traditionnelle">Traditionnelle</option>
                <option value="Paradisiaque">Paradisiaque</option>
                <option value="Historique">Historique</option>
                <option value="Touristique">Touristique</option>
              </select>
            </div>
          </form>

          <!-- DEBUT REGION FORM -->
          <form [formGroup]="RegionForm">
            <!-- ID jusqua ACTIVITES -->
            <div class="col-sm-8 col-md-8 col-lg-8">
              <label>Description Region</label>
              <textarea
                type="text"
                formControlName="DescriptionH"
                class="form-control"
              ></textarea>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
              <label> DescriptionDetaillee</label>
              <textarea
                type="text"
                formControlName="DescriptionDetaillee"
                class="form-control"
              ></textarea>
            </div>

            <div class="col-sm-8 col-md-8 col-lg-8">
              <label> Image Region </label>
              <input type="text" formControlName="img" class="form-control" />
            </div>

            <!-- HOTEL NOM JUSQUA AUBERGE -->
            <div class="col-sm-8 col-md-8 col-lg-8">
                <label>Hotel Nom</label>
                <input type="text" formControlName="HotelNom" class="form-control" />
            </div>

            <div class="col-sm-8 col-md-8 col-lg-8">
                <label>Hotel Image</label>
                <input type="text" formControlName="HotelImage" class="form-control" />
            </div>

            <div class="col-sm-8 col-md-8 col-lg-8">
                <label>Hotel Prix</label>
                <input type="number" formControlName="HotelPrix" class="form-control" />
            </div>

            <div class="col-sm-8 col-md-8 col-lg-8">
                <label>Hotel Promo</label>
                <input type="number" formControlName="HotelPromo" class="form-control" />
            </div>

            <div class="col-sm-8 col-md-8 col-lg-8">
                <label>Hotel Description</label>
                <textarea formControlName="HotelDescription"
                class="form-control" >

                </textarea>
            </div>

            <div class="col-sm-8 col-md-8 col-lg-8">
                <label>Auberge Nom</label>
                <input type="text" formControlName="AubergeNom" class="form-control" />
            </div>


            <div class="col-sm-8 col-md-8 col-lg-8">
                <label>Auberge Image</label>
                <input type="text" formControlName="AubergeImage" class="form-control" />
            </div>

            <div class="col-sm-8 col-md-8 col-lg-8">
                <label>Auberge Prix</label>
                <input type="number" formControlName="AubergePrix" class="form-control" />
            </div>

            <div class="col-sm-8 col-md-8 col-lg-8">
                <label>Auberge Promo</label>
                <input type="number" formControlName="AubergePromo" class="form-control" />
            </div>

            <div class="col-sm-8 col-md-8 col-lg-8">
                <label>Auberge Description</label>
                <textarea type="text" formControlName="AubergeDescription" class="form-control"  id="description" ></textarea>
            </div>


<div class="container">
            <div  class="row" >
              <div class="col-md-8" formArrayName="activites">
              Liste des activites
              <div *ngFor="let a of activites.controls;let i=index">
                  <input type="text" [formControlName]=" i" />
              </div>
            </div>
              <div formArrayName="activitesPrix" class="col-md-8">
                Liste des prix des activités
                <div *ngFor="let p of activitesPrix.controls;let i=index">
                    <input type="text" [formControlName]=" i" />
                </div>
                <!-- <input type="button" value="+" class="btn btn-secondary btn-sm" (click)="onAjouterPrix()"> <br> -->

            </div>
            <div class="col-md-8">
              <br>
              <div *ngFor="let a of activites.controls;let i=index">
                <input type="button" value="supprimer" class="btn btn-danger" (click)="supprimerActivite(i)">
              </div>
              </div>
          </div>
          <input type="button" value="+" class="btn btn-secondary btn-sm" (click)="onAjouter()"> <br>

        </div>
            <!-- FIN -->
          </form>
            <div class="mt-8">
              <!-- <button type="submit" class="btn btn-success">Ajouter</button> -->
              <input type="button" class="btn btn-success" value="Ajouter" (click)="Ajouter()">
            </div>
      
        </div>

        <!-- ICI -->
      <!-- </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button   type="submit"  class="btn btn-primary">Ajouter</button>
      </div>
    </div>
  </div>
</div> -->
=