<app-top></app-top>>
<br><br>
<br><br><br>
<!-- <form>
<input type="text" [value]="newVoyage.libelle" [(ngModel)]="newVoyage.libelle" name="nom" class="form-control">
</form>
{{newVoyage|json}} -->

<div class="container">
    <div>
      <h2>Ajouter une destination</h2>
    </div>
    <form [formGroup]="VoyageForm" >
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Libelle Voyage</label>
        <input
          type="text"
          formControlName="libelle"
          class="form-control"
    

        />
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label>Prix Region</label>
        <input
          type="number"
          formControlName="prix"
          class="form-control"
        />
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Description</label>
        <input
          type="text"
          formControlName="Description"
          class="form-control"
        />
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label>Image URL</label>
        <input type="text" formControlName="Image" class="form-control" />
      </div>

    
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label>Categorie</label>
        <select formControlName="categorie" class="form-control">
          <option value="Traditionnelle">Traditionnelle</option>
          <option value="Paradisiaque">Paradisiaque</option>
          <option value="Historique">Historique</option>
          <option value="Touristique">Touristique</option>
        </select>
      </div>
    </form>

    <!-- DEBUT REGION FORM -->
    <form [formGroup]="RegionForm">
      <!-- ID jusqua ACTIVITES -->
      <div class="col-sm-8 col-md-8 col-lg-8">
        <label>DescriptionH</label>
        <input
          type="text"
          formControlName="DescriptionH"
          class="form-control"
        />
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
        <label> DescriptionDetaillee</label>
        <input
          type="text"
          formControlName="DescriptionDetaillee"
          class="form-control"
        />
      </div>

      <div class="col-sm-8 col-md-8 col-lg-8">
        <label> Image Region </label>
        <input type="text" formControlName="img" class="form-control" />
      </div>

      <!-- HOTEL NOM JUSQUA AUBERGE -->
      <div class="col-sm-4 col-md-4 col-lg-4">
          <label>HotelNom</label>
          <input type="text" formControlName="HotelNom" class="form-control" />
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
          <label>HotelImage</label>
          <input type="text" formControlName="HotelImage" class="form-control" />
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
          <label>HotelPrix</label>
          <input type="number" formControlName="HotelPrix" class="form-control" />
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
          <label>HotelPromo</label>
          <input type="number" formControlName="HotelPromo" class="form-control" />
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
          <label>HotelDescription</label>
          <input type="text" formControlName="HotelDescription" class="form-control" />
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
          <label>AubergeNom</label>
          <input type="text" formControlName="AubergeNom" class="form-control" />
      </div>


      <div class="col-sm-4 col-md-4 col-lg-4">
          <label>AubergeImage</label>
          <input type="text" formControlName="AubergeImage" class="form-control" />
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
          <label>AubergePrix</label>
          <input type="number" formControlName="AubergePrix" class="form-control" />
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
          <label>AubergePromo</label>
          <input type="number" formControlName="AubergePromo" class="form-control" />
      </div>

      <div class="col-sm-4 col-md-4 col-lg-4">
          <label>AubergeDescription</label>
          <input type="text" formControlName="AubergeDescription" class="form-control" />
      </div>


<div class="container">
      <div formArrayName="activites" class="row" >
        <div class="col-md-2">
        Liste des activites
        <div *ngFor="let a of activites.controls;let i=index">
            <input type="text" [formControlName]=" i" />
        </div>
      </div>
        <div formArrayName="activitesPrix" class="col-md-2">
          Liste des prix des activités
          <div *ngFor="let p of activitesPrix.controls;let i=index">
              <input type="text" [formControlName]=" i" />
          </div>

      </div>

    </div>
    <input type="button" value="+" class="btn btn-secondary btn-sm" (click)="onAjouter()"> <br>

  </div>
      <!-- FIN -->
    </form>
      <div class="mt-2">
        <!-- <button type="submit" class="btn btn-success">Ajouter</button> -->
        <input type="button" class="btn btn-success" value="Ajouter"  (click)="onModifier()">
        <button type="reset" class="btn btn-danger">Reset</button>
      </div>
 

  </div>

  {{newVoyage|json}}

  {{newVoyage.libelle}}